/* FaktaPermasalahan.css */
body {
  background-color: #2c2c38; /* Onyx background for the whole page */
  color: #ffffff; /* White text for the entire page */
}

.content {
  color: #ffffff; /* White text for content */
  padding: 20px;
  border-radius: 8px;
  transition: margin-left 0.5s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header .material-symbols-outlined {
  font-size: 55px;
}

.table {
  background-color: #2d2d2d; /* Charcoal for table background */
  color: #ffffff; /* White text for table */
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.table th,
.table td {
  /* vertical-align: middle; */
  word-wrap: break-word;
}

.table th {
  height: 50px;
  color: #2c2c38;
}

.modal-content {
  background-color: #2d2d2d; /* Charcoal for modal background */
  color: #ffffff; /* White text for modal */
}

.modal-body button {
  display: flex;
  flex-direction: row;
}

/* Tambahkan gaya berikut untuk mengubah warna tombol close menjadi putih */
.modal-header .btn-close {
  filter: invert(1);
}

.button-primary,
.btn-warning,
.btn-danger {
  color: #ffffff; /* Ensure buttons have white text */
}

.btn-warning:hover {
  background-color: #efb505;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.form-control {
  color: black;
  font-weight: 500;
}

.form-control:focus {
  border-color: black;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.9); /* Tambahkan shadow untuk efek fokus */
  color: black;
}

.table .no {
  width: 5%;
  text-align: center;
}

.table .col-rule {
  width: 10%;
  text-align: center;
}

.table .aidi {
  width: 20%;
}

.table .user-history {
  width: 15%;
}

.table .kesimpulan-history {
  width: 38%;
}

.table .solusi-history {
  width: 20%;
}

.table .password {
  width: 15%;
}

.table .tanggal-history {
  width: 12%;
}

.table .col-fakta {
  width: 20%;
}

.table .col-kesimpulan {
  width: 28%;
}

.table .col-solusi {
  width: 27%;
}

.table .name {
  width: 80%;
}

.table .admin-name {
  width: 25%;
}

.table .ID-mng {
  width: 35%;
}

.table .waktu-mng {
  width: 15%;
}

.table .aksi {
  text-align: center;
  width: 15%;
}

.table .aksi-history {
  text-align: center;
  width: 10%;
}

.table .aksi-mng {
  text-align: center;
  width: 20%;
}

.table .aksi button span {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.button-check {
  display: flex;
  flex-direction: row;
}
